doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title(Document)

    link(rel="stylesheet" href=appLink('/client/css/main.css'))

    script(src=appLink(assets.vendor.redoc.publicPath) defer)
    script(src=appLink('client/js/asb-select-submit.js') defer)
  body
    header
      nav(is="asb-navigation")
        a.home(href=appLink())= config.brand || "ApiSpecBrowser"

        .list-wrapper
          asb-select-submit
            form(action=appLink())
              label(for="spec-select") API Spec
              .nice-select
                select(id="spec-select" name="service-name")
                  if configuredServices
                    for service in configuredServices
                      option(value=service selected=(service === serviceName))= service
                span.focus
              input(type="submit" value="🔎")

          if serviceName && apiVersions
            asb-select-submit
              form(action=appLink())
                input(type="hidden" name="service-name" value=serviceName)

                label(for="version-select") Version Select
                .nice-select
                  select(id="version-select" name="display-version")
                    for v in apiVersions
                      - const version = stringFormat(v)
                      option(value=v selected=(version === displayVersion))= (currentAPIVersion === version ? `${version}*` : version)
                  span.focus
                input(type="submit" value="🔎")
                = `* Service Version of ${serviceName} in this environment is ${currentActiveVersion}`

    main
      if !spec
        p.error= error ? error.message : "No Service Name provided"
      else
        redoc(spec-url=spec && spec.href ? spec.href : '')
